<div class="row" style="margin: 50px;">
    <div *ngFor="let nutritionPlan of fitnessPlans" class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                
                <div class="row p-2" style="text-align: center;">
                    <div class="col">
                        <h5 class="card-title">Current Plan: {{nutritionPlan.planName}}</h5>
                    </div>
                </div>
                <div class="row p-2" style="text-align: center;">
                    <div class="col">
                        <p class="lead"> Plan Calories: {{nutritionPlan.planCalories.toString()}}</p>
                    </div>
                </div>
                <div class="row p-2" style="text-align: center;">
                    <div class="col">
                        <p class="lead"> Plan Start Date:
                            {{nutritionPlan.startDate.year}}-{{nutritionPlan.startDate.month}}-{{nutritionPlan.startDate.day}}
                        </p>
                    </div>
                </div>
                
                <div class="row p-2" style="text-align: center;">
                    <div class="col">
                        <p class="lead"> Plan End Date:
                            {{nutritionPlan.endDate.year}}-{{nutritionPlan.endDate.month}}-{{nutritionPlan.endDate.day}}
                        </p>
                    </div>
                </div>
                
                <div class="row p-2" style="text-align: center;">
                    <div class="col">
                        <button (click)="onEditPlanClicked(nutritionPlan.planId, nutritionPlan)" class="btn btn-primary">Edit
                            Plan</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="row" style="text-align: center;">
                    <div class="col">
                        <p class="lead">
                            Create new nutrition plan
                        </p>
                    </div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col">
                        <button class="btn btn-primary" (click)="onCreateFitnessPlanClicked()"> Create Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>