<div class="container">
    <h2> Current Active Plan: {{currentActivePlan?.currentPlan}}</h2>
    <h2> Plan Start Date:
        {{currentActivePlan?.currentDate?.year}}-{{currentActivePlan?.currentDate?.month}}-{{currentActivePlan?.currentDate?.day}}
    </h2>
    <h2> Plan End Date:
        {{currentActivePlan?.planEndDate?.year}}-{{currentActivePlan?.planEndDate?.month}}-{{currentActivePlan?.planEndDate?.day}}
    </h2>
    <h2> Plan Target Calories: {{currentActivePlan?.currentPlanCalories}} </h2>
</div>
<div class="container">
    <form [formGroup]="planData" (submit)="onPlanDataSubmit()">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Day </th>
                    <th scope="col"> Weight</th>
                    <th scope="col"> Calories </th>
                    <th scope="col"> Net Calories</th>
                    <th scope="col"> Notes</th>
                </tr>
            </thead>
            <tbody formArrayName="planDatesData">
                <tr *ngFor="let dateGroup of planDatesData.controls; let dateIdx=index" [formGroupName]="dateIdx">
                    <th scope="row"> {{dateGroup.get('date')?.value}}</th>
                    <td>
                        <input formControlName="weight" (change)="onWeightChange(dateIdx, $event)">
                    </td>
                    <td>
                        <input formControlName="calories" (change)="onCaloriesChange(dateIdx, $event)">
                    </td>
                    <td>
                        <div *ngIf="dateGroup?.get('weight')?.value && dateGroup?.get('calories')?.value !== '';else noNetCals">
                            {{netCalories}}
                        </div>
                        <ng-template #noNetCals>
                            0
                        </ng-template>
                    </td>
                    <td>
                        <input formControlName="notes" (change)="onNotesChange(dateIdx, $event)">
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" type="submit"> Save</button>
    </form>
</div>