<div class="container">
    <div class="row" style="margin: 20px 20px 20px 20px">
        <div class="col">
            <p class="lead"> Current Active Protocol: {{activeNutritionProtocol?.protocolName}}</p>
            <p class="lead"> Protocol Start Date:
                {{activeNutritionProtocol?.startDate?.year}}-{{activeNutritionProtocol?.startDate?.month}}-{{activeNutritionProtocol?.startDate?.day}}
            </p>
            <p class="lead"> Protocol End Date:
                {{activeNutritionProtocol?.endDate?.year}}-{{activeNutritionProtocol?.endDate?.month}}-{{activeNutritionProtocol?.endDate?.day}}
            </p>
            <p class="lead"> Protocol Target Calories: {{activeNutritionProtocol?.protocolCalories}} </p>
            <p class="lead">
                Net Calorie Change: {{this.netCals}}
            </p>
            <p *ngIf="allData === false; else showAllData" class="h2">
                Week : {{currentWeek}}
            </p>
            <ng-template #showAllData>
                <p class="h2">
                    All Weight Data
                </p>
            </ng-template>
        </div>
    </div>

    <app-pagination 
        [currentActiveNutritionProtocol]="activeNutritionProtocol" 
        (nutritionProtocolFormEvent)="nutritionProtocolHandler($event)"
        (populatedDatesDataEvent)="populatedDatesHandler($event)" 
        (weekEvent)="weekUpdateHandler($event)"
        (netCalorieChangeEvent)="netCalorieChangeHandler($event)"
        [allData]="allData"
        >
    </app-pagination>

    <div class="row justify-content-center">
        <div class="col-1">
            <button class="btn btn-primary" (click)="onProtocolDataSubmit()"> Save</button>
        </div>
        <div class="col-1">
            <button class="btn btn-primary"(click)="viewGraphClicked()"> Graph</button>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" (click)="viewFitnessSummary()"> Summary</button>
        </div>
    </div>
</div>