<div class="container">
    <div class="row" style="margin: 20px 20px 20px 20px">
        <div class="col">
            <p class="lead"> Current Active Plan: {{activeNutritionPlan?.planName}}</p>
            <p class="lead"> Plan Start Date:
                {{activeNutritionPlan?.startDate?.year}}-{{activeNutritionPlan?.startDate?.month}}-{{activeNutritionPlan?.startDate?.day}}
            </p>
            <p class="lead"> Plan End Date:
                {{activeNutritionPlan?.endDate?.year}}-{{activeNutritionPlan?.endDate?.month}}-{{activeNutritionPlan?.endDate?.day}}
            </p>
            <p class="lead"> Plan Target Calories: {{activeNutritionPlan?.planCalories}} </p>
            <p class="lead">
                Net Calorie Change: {{this.netCals}}
            </p>
            <p class="lead">
                Estimated Date to reach Goal Weight: {{this.goalWeight}} is {{this.expectedDateToReachGoalWeight}}
            </p>
            <p class="h2">
                Week : {{currentWeek}}
            </p>
        </div>
    </div>

    <app-pagination 
        [currentActiveNutritionPlan]="activeNutritionPlan" 
        (nutritionPlanFormEvent)="nutritionPlanHandler($event)"
        (populatedDatesDataEvent)="populatedDatesHandler($event)" 
        (weekEvent)="weekUpdateHandler($event)"
        (netCalorieChangeEvent)="netCalorieChangeHandler($event)"
        >
    </app-pagination>

    <div class="row justify-content-center">
        <div class="col-1">
            <button class="btn btn-primary" (click)="onPlanDataSubmit()"> Save</button>
        </div>
        <div class="col-1">
            <button class="btn btn-primary"(click)="viewGraphClicked()"> Graph</button>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" (click)="viewFitnessSummary()"> Summary</button>
        </div>
    </div>
</div>