<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand abs" href="">Trackify</a>
                <ul class="navbar-nav mr-auto" *ngIf="(accountService.currentUser$ | async) !== null">
                    <li class="nav-item">
                        <div class="row">
                            <div class="col">
                                <div  ngbDropdown
                                    class="d-inline-block">
                                    <img [src]=" (accountService.currentUser$ | async)?.picture" width="30"
                                        height="30" />
                                    <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
                                        {{ (accountService.currentUser$ | async)!.name }}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem (click)="logout()">Logout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
</nav>