<div class="container">
    <div class="row">
        <div class="row g-2">
            <h1 class="display-6"> Workout Routine </h1>
        </div>        
    </div>
    
    <form [formGroup]="workoutForm" class="mb-3">
        <div class="mb-3" >
            <label for="name" class="form-label" class="lead"> Routine Name </label>
            <input class="form-control" id="name" type="text" formControlName="name"
                (change)="changeWorkoutName($event)">
        </div>
        <div formArrayName="workouts">
            <div *ngFor="let workout of workouts.controls; let workoutIdx=index">
                <div [formGroupName]="workoutIdx">
                    <div class="mb-3">
                        <h2 class="display-6">Day # {{workoutIdx + 1}}</h2>
                    </div>
                    <div class="mb-3">
                        <label for="workoutName" class="form-label">Workout Name:</label>
                        <input type="text" class="form-control" formControlName="workoutName" />
                    </div>

                    <div class="mb-3">
                        <div formArrayName="exercises">
                            <div *ngFor="let item of exercises(workoutIdx).controls; let exerciseIdx = index">
                                <div [formGroupName]="exerciseIdx">
                                    <div class="mb-3">
                                        <label for="exerciseName" class="form-label">
                                            Exercise Name:
                                        </label>
                                        <input class="form-control" type="text" formControlName="exerciseName">
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-danger" (click)="removeExercise(workoutIdx, exerciseIdx)"> Remove Exercise</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-light" (click)="addExercise(workoutIdx)"> Add Exercise</button>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-danger" (click)="removeWorkout(workoutIdx)"> Remove Workout</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="addWorkout()"> Create Workout </button>
    </form>
    <div *ngIf="!doesRoutineExist; else update" class="mb-3">
        <button class="btn btn-success" (click)="saveWorkout()"> Save Workout </button>
    </div>
    <ng-template #update>
        <div class="mb-3">
            <button class="btn btn-success" (click)="updateWorkout()"> Update Workout </button>
        </div>
    </ng-template>
</div>
