<div class="container">
    <div *ngIf="nutritionData; else noProtocolData" class="row">
        <div class="row" style="text-align: center;">
            <h1 class="display-6"> Nutrition Protocol Data </h1>
        </div>
        <div class="row">
            <app-graph *ngIf="dateData?.length" [dateData]="dateData"></app-graph>
        </div>
        
    </div>

    <ng-template #noProtocolData>
        <div class="row">
            <h1 class="display-6"> You currently have no Data.</h1>
        </div>
    </ng-template>
    
</div>