<div>
    <h1> Fitness Plan </h1>
    <form [formGroup]="fitnessPlanningForm">
        <div class="mb-3">
            <label for="startingWeight" class="form-label"> Starting Weight </label>
            <input class="form-control" id="startingWeight" type="text" formControlName="startingWeight"
                (change)="changeStartingWeight($event)">
        </div>
        <div class="mb-3">
            <label for="goalWeight" class="form-label"> Goal Weight </label>
            <input class="form-control" id="goalWeight" type="text" formControlName="goalWeight"
                (change)="changeGoalWeight($event)">
        </div>
        <div class="mb-3">
            <label for="plans" class="form-label"> Plan </label>
            <select class="form-select" id="currentPlan" (change)="changePlan($event)" formControlName="planName">
                <option value=""></option>
                <option *ngFor="let plan of plans" [value]="plan.name">
                    {{plan.name}}
                </option>
            </select>
        </div>

        <label for="startDate" class="form-label"> Current Date </label>
        <div class="input-group mb-3">
            <input class="form-control" placeholder="yyyy-mm-dd" id="startDate" formControlName="startDate"
                ngbDatepicker #d="ngbDatepicker" (change)="changeCurrentDate($event)">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
        </div>
        <label for="endDate" class="form-label"> Plan End Date </label>
        <div class="input-group mb-3">
            <input class="form-control" type="text" placeholder="yyyy-mm-dd" id="endDate" formControlName="endDate"
                ngbDatepicker #d2="ngbDatepicker">
            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
        </div>
        <label for="tdee" class="form-label"> TDEE</label>
        <div class="mb-3">
            <h3> {{ tdee }}</h3>
        </div>
        <label for="planCalories" class="form-label"> {{planName?.value}} Plan Calories</label>
        <div class="mb-3">
            <h3> {{planCalories}}</h3>
        </div>
        <div style="text-align: center;">
            <div *ngIf="editPlan; else savePlan">
                <button class="btn btn-primary" style="margin: 10px;" (click)="editSelectedPlan()"> Edit Plan </button>
                <button class="btn btn-danger" style="margin: 10px;" (click)="deleteSelectedPlan()"> Delete Plan </button>
            </div>
            <ng-template #savePlan>
                <button class="btn btn-primary" (click)="onPlanSubmit()"> Save Plan</button>
            </ng-template>
        </div>
    </form>
</div>