<div class="container">
    <form [formGroup]="workoutForm!" class="m-2">
        <div class="row" style="text-align: center;">
            <h1 class="display-3">
                {{workoutForm.get('workoutName')?.value}}
            </h1>
        </div>
        <div formArrayName="exercises">
            <div [formGroupName]="exerciseIdx" *ngFor="let exercise of exercises.controls; let exerciseIdx = index"
                class="container" style="width: 60%;">
                <div class="rcorners1 m-5">
                    <div class="row" style="text-align: center;">
                        <div class="col-md-8 mx-auto">
                            <h3 class="lead text-white">
                                {{exercise.get('exerciseName')?.value}}
                            </h3>
                        </div>
                    </div>

                    <div formArrayName="exerciseHistory">
                        <div *ngFor="let history of exerciseHistory(exerciseIdx).controls | paginate: {
                                itemsPerPage: tableSize,
                                currentPage: page,
                                totalItems: count
                            }; let exerciseHistIdx = index" [formGroupName]="exerciseHistIdx">

                            <div class="row justify-content-center mb-3">
                                <div class="col-6">
                                    <label for="date" class="form-label text-white"> Date</label>
                                    <input class="form-control" type="date" formControlName="date">
                                </div>
                                <div class="col-1 align-self-end">
                                    <button mat-icon-button color="warn"
                                        (click)="removeExerciseDate(exerciseIdx, exerciseHistIdx)">
                                        <mat-icon> close </mat-icon>
                                    </button>
                                </div>
                            </div>

                            <table class="row" formArrayName="exerciseSets" class="table borderless">
                                <div class="col-md-8 mx-auto">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <label class="text-white">
                                                    Set #
                                                </label>
                                            </th>
                                            <th scope="col">
                                                <label class="text-white">
                                                    Weight
                                                </label>
                                            </th>
                                            <th scope="col">
                                                <label class="text-white">
                                                    Reps
                                                </label>
                                            </th>
                                            <th scope="col">
                                                <label class="text-white">
                                                    Notes
                                                </label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody [formGroupName]="setIdx"
                                        *ngFor="let set of exerciseSets(exerciseIdx, exerciseHistIdx).controls; let setIdx = index">
                                        <th scope="row">
                                            <label class="text-white">
                                                Set {{setIdx + 1}}
                                            </label>
                                        </th>
                                        <td>
                                            <input class="form-control" type="number" formControlName="weight">
                                        </td>

                                        <td>
                                            <input class="form-control" type="number" formControlName="reps">
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" formControlName="notes">
                                        </td>
                                        <div class="row">
                                            <div class="col-1">
                                                <button mat-icon-button color="primary"
                                                    (click)="addExerciseSet(exerciseIdx, exerciseHistIdx)">
                                                    <mat-icon>
                                                        add
                                                    </mat-icon>
                                                </button>
                                            </div>
                                            <div class="col-1">
                                                <button mat-icon-button color="primary"
                                                    (click)="removeExerciseSet(exerciseIdx, exerciseHistIdx, setIdx)">
                                                    <mat-icon>
                                                        close
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </tbody>
                                </div>
                            </table>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <pagination-controls previousLabel="Prev" nextLabel="Next"
                                        (pageChange)="onTableDataChange($event)"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <button mat-icon-button color="basic" (click)="addExerciseDate(exerciseIdx)">
                                    <mat-icon>
                                        add
                                    </mat-icon> Add Workout
                                </button>
                            </div>
                            <div class="col-2">
                                <button mat-icon-button color="basic" (click)="viewGraph(exerciseIdx)">
                                    <mat-icon>
                                        insights
                                    </mat-icon> View Graph
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-8">
                <div class="col-sm-2 mx-auto">
                    <button mat-icon-button color="primary" (click)="saveWorkout()">
                        <mat-icon>
                            save
                        </mat-icon> Save Workout
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>