<div class="row">
    <div class="col">
        <canvas id="graph"></canvas>
    </div>
</div>
<div class="row" style="text-align: center; padding: 50px ;">
    <div class="col mx-auto">
        <select class="form-select" (change)="updateGraph($event)">
            <option selected>Change Graph Type</option>
            <option [value]="WEIGHT">Weight</option>
            <option [value]="CALORIES">Calories</option>
            <option [value]="NETCALORIES">Net Calories</option>
          </select>
    </div>
</div>