<div class="container">
    <div class="row">
        <div class="col">
            <canvas id="graph"></canvas>
        </div>
    </div>
    <div class="row" style="text-align: center; padding: 50px ;">
        <div class="col mx-auto">
            <select class="form-select" (change)="updateGraphData($event)">
                <option *ngFor="let opt of dataOptions" [value]="opt">
                    {{opt}}
                </option>
            </select>
        </div>
    </div>
    <div class="row" style="text-align: center; padding-bottom: 20px; padding-left: 50px; padding-right: 50px;">
        <div class="col mx-auto">
            <select class="form-select" (change)="updateGraphType($event)">
                <option *ngFor="let typ of typeOptions" [value]="typ">
                    {{typ}}
                </option>
            </select>
        </div>
    </div>
</div>